<h1><%= @customer.name %></h1>
<% @customer.items.each do |item| %>
<h2> <%= item.supermarket.name %> </h2>
<ul>
  <li><%= item.name %> <%= item.price %></li>
</ul>
<% end %>

<%= form_with url: "/customers/#{@customer.id}", method: :post, local: true do |f| %>
  <%= f.label "Enter the ID of a Item" %>
  <%= f.number_field :item_id %>
  <%= f.submit "Submit" %>
<% end %>
